appdirs==1.4.4
asn1crypto==1.4.0
astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
beautifulsoup4==4.9.3
blinker==1.4
bs4==0.0.1
btrfsutil==5.10
CacheControl==0.12.6
cffi==1.14.4
chardet==3.0.4
click==7.1.2
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==3.3.1
decorator==4.4.2
distlib==0.3.1
distro==1.5.0
dmenu==0.2.1
dnspython==2.1.0
docopt==0.6.2
email-validator==1.1.2
Flask==1.1.2
Flask-Login==0.5.0
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
future==0.18.2
geocoder==1.38.1
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.5
GitPython==3.1.12
greenlet==0.4.17
guake==3.7.0
html5lib==1.1
idna==2.10
isc==2.0
isort==5.7.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
lazygit==1.1
louis==3.16.0
MarkupSafe==1.1.1
mccabe==0.6.1
meson==0.56.2
msgpack==1.0.2
neovim==0.3.1
neovim-remote==2.4.0
netsnmp-python==1.0a1
ntfy==2.7.0
ordered-set==4.0.2
packaging==20.8
parso==0.8.1
pbr==5.5.1
pep517==0.9.1
Pillow==8.1.0
ply==3.11
plyer==2.0.0
progress==1.5
psutil==5.8.0
py-notifier==0.1.1
pycairo==1.20.0
pycodestyle==2.6.0
pycparser==2.20
Pygments==2.7.4
PyGObject==3.38.0
pylint==2.6.0
pynvim==0.4.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pyPEG2==2.15.2
pyperclip==1.8.1
PyQt5==5.15.2
PyQt5-sip==12.8.1
PyQtWebEngine==5.15.2
PySimpleGUI==4.33.0
python-xlib==0.29
PyYAML==5.3.1
qutebrowser==2.0.1
ratelim==0.1.6
requestes==0.0.1
requests==2.25.1
resolvelib==0.5.4
retrying==1.3.3
ruamel.yaml==0.16.12
six==1.15.0
smmap==3.0.4
soupsieve==2.1
SQLAlchemy==1.3.22
tabletext==0.1
team==1.0
tk==0.1.0
toml==0.10.2
ueberzug==18.1.9
urllib3==1.26.3
weather-cli==1.1.0
weather-forecast==0.49
weather629==1.0.1
webencodings==0.5.1
Werkzeug==1.0.1
wrapt==1.12.1
WTForms==2.3.3
youtube-dl==2021.1.8
